on:
  push:
    branches: [ main ]
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Hello World
        run: echo "Hello, world!"

      - name: prime-cache-30145bd
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-30145bd

      - name: Cache hit/miss result
        run: echo "Cache hit: ${{ steps.cache-step.outputs.cache-hit }}"
